.loader {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../images/pocetna2.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  background: $secondary-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.45s ease;
}

.finish-loading {
  opacity: 0;
  pointer-events: none;
}
